<ion-content>
  <h2 class="text-white font-futuristic text-center pt-8">Filtrar por categoría:</h2>

  <div class="p-4">
    <select id="categorySelect" (change)="onCategoryChange()" [(ngModel)]="selectedCategory"
      class="w-full p-2 rounded-lg">
      <option value="all">Todas</option>
      <option value="MMORPG">MMORPG</option>
      <option value="Shooter">Shooter</option>
      <option value="Strategy">Strategy</option>
      <option value="Action RPG">Action RPG</option>
      <option value="Battle Royale">Battle Royale</option>
      <option value="ARPG">ARPG</option>
      <option value="MMOARPG">MMOARPG</option>
      <option value="Fighting">Fighting</option>
      <option value="MOBA">MOBA</option>
      <option value="Card Game">Card Game</option>
      <option value="Action Game">Action Game</option>
      <option value="Action">Action</option>
      <option value="Sports">Sports</option>
      <option value="MMO">MMO</option>
      <option value="Racing">Racing</option>
      <option value="Social">Social</option>
      <option value="Fantasy">Fantasy</option>
    </select>
  </div>

  <div *ngIf="filteredGames().length === 0" class="text-white text-center p-4">
    No hay juegos en esta categoría.
  </div>

  <div class="grid grid-cols-2 gap-4 p-4">
    <div *ngFor="let game of filteredGames()" class="bg-slate-500 text-white rounded-md">
      <app-card-game (click)="saveGame(game)" [game]="game"></app-card-game>
    </div>
  </div>
</ion-content>